name: flutter_osm_plugin
description: OpenStreetMap Plugin Native for flutter apps (Andoird/iOS/web)
version: 1.0.0


homepage: https://github.com/liodali/osm_flutter
environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=1.12.0"
dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  plugin_platform_interface: ^2.1.2
  flutter_plugin_android_lifecycle: ^2.0.17
  permission_handler: ^11.0.1
  url_launcher: ^6.2.1
  dio: ^5.3.3
  uuid: ^4.2.1
  flutter_osm_interface:
    path: ./flutter_osm_interface
  flutter_osm_web:
    path: ./flutter_osm_web
dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The androidPackage and pluginClass identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: hamza.dali.flutter_osm_plugin
        pluginClass: FlutterOsmPlugin
      ios:
        pluginClass: FlutterOsmPlugin
      web:
        default_package: flutter_osm_web


  # To add assets to your plugin package, add an assets section, like this:
  assets:
     - assets/dynamic-styles.yaml
     - assets/default_pin.png
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
